<!-- BEGIN USER APPS INBOX -->
<div class="mail-apps-wrap">

    <div class="the-box bg-warning no-border no-margin heading">
        <div class="row">
            <h1><i class="fa fa-bullhorn icon-lg icon-circle icon-bordered"></i> Detalle del pedido</h1>
        </div>
        <!-- /.row -->
    </div>
    <!-- the-box -->

    <div class="row">&nbsp;</div>

    <div class="the-box no-border" ng-repeat="request in requests">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <carousel interval="myInterval" style="height:350px">
                    <slide ng-repeat="slide in request.image" active="slide.active">
                        <img ng-src="{{slide.path}}" style="margin:auto;">
                    </slide>
                </carousel>
            </div>

            <div class="col-md-8 col-sm-6">
                <h2 class="medium-heading more-margin-bottom text-primary">
                    {{request.title}}            
                </h2>

                <p style="margin-top: -10px;">
                    <small style="margin: -20px 20px 0 0;">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Votos de fé: {{request.votes[0].quan}} 
                    </small>
                    <small>
                        <span class="glyphicon glyphicon-heart"></span> Favoritos: {{request.favorites[0].quan}}
                    </small>
                </p>

                <p>
                    <span ng-if="request.processState.id == 'P'" class="badge badge-info">Publicación Pausada</span>
                </p>

                <p>
                    <span ng-if="request.processState.id == 'C'" class="badge badge-success">Objetivo Cumplido</span>
                </p>
                
                <p>
                    {{request.description}}
                </p>

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h4>{{request.object.description}}</h4>
                            <p>
                                {{request.category.description}} > {{request.subcategory.description}}
                            </p>
                            <p ng-if="request.quantity == '1'">
                                Se necesita: <strong>{{request.quantity}}</strong>
                            </p>
                            <p ng-if="request.quantity != '1'">
                                Se necesita: <strong><span id="currency-default">{{ request.quantity | currency}}</span></strong>
                                <br>
                            </p>
                            </p>
                            <p>Visto:
                                <strong>{{request.views}}</strong> veces</p>
                            <p>Vencimiento:
                                <strong>{{request.expirationDate}}</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="the-box transparent">
                    <p>
                        <span class="badge badge-primary">Padrinos</span>
                    </p>
                    <ul class="col-md-4 media-list media-sm media-team" ng-repeat="sponsor in request.sponsors">
                        <li class="media">
                            <a class="pull-left">
                                <img class="media-object img-circle" src="assets/images/avatar/avatar.jpg" alt="Avatar">
                            </a>
                            <div class="media-body">
                                <!-- <h4 class="media-heading">Nombre de padrino</h4> -->
                                <a href="https://twitter.com/{{sponsor.userTw}}">
                                    <p class="text-danger">{{sponsor.userTw}}</p>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <p ng-if="request.sponsors == ''">
                        Esta publicación aún no tiene padrinos..
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
